<div class="header">
  <h2 class="logo">Brendan's Page</h2>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">


  <ul class="menu">
      <a href="">Home</a>
      <a href="about">About</a>
      <a href="projects">Projects</a>
      <a href="contact">Contact</a>
      <a href="responsive">Responsive Page</a>
      <a href="form">Form Page</a>
      <a href="blog">Blog Page</a>

    <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
    </label>
  </ul>
</div>

<router-outlet></router-outlet>